<html lang="pl">
  <head>
    <title>Sound trainer - menu</title>
    <meta charset="utf-8">
    <meta content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
    </style>
  </head>
  <body>
    <div id="content-wrapper">
      <header>
        <img id="logo" src="note.png">
        
        <h3 id="stage-title">Lista wszytkich ćwiczeń</h3>
        <h4 id="stage-subtitle">Wybierz odpowiednie dla siebie</h4>
        <div id="settings">
          <select id="instrument">
            <option value="piano" selected>Pianino</option>
          </select>
        </div>
      </header>
      <div id="content">
        <ul class="list">
          <li class="container exercise" exercise-id="">
            <span class="hardness hardness-easy">★</span>
            <h4 class="exercise-title">Rozpoznawanie czegoś</h4>
            <p class="exercise-content">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. </p>
            <span>Liczba ćwiczeń</span>
            <select class="exercises-count">
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>              
            </select>
            <button class="button select-exercise">wybierz</button>
          </li>
          <li class="container exercise" exercise-id="">
            <span class="hardness hardness-medium">★★</span>
            <h4 class="exercise-title">Rozpoznawanie czegoś</h4>
            <p class="exercise-content">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. </p>
            <span>Liczba ćwiczeń</span>
            <select class="exercises-count">
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>              
            </select>
            <button class="button select-exercise">wybierz</button>
          </li>
          <li class="container exercise" exercise-id="">
            <span class="hardness hardness-hard">★★★</span>
            <h4 class="exercise-title">Rozpoznawanie czegoś</h4>
            <p class="exercise-content">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. </p>
            <span>Liczba ćwiczeń</span>
            <select class="exercises-count">
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>              
            </select>
            <button class="button select-exercise">wybierz</button>
          </li>
          <li class="container exercise" exercise-id="">
            <span class="hardness hardness-hard">★★★</span>
            <h4 class="exercise-title">Rozpoznawanie czegoś</h4>
            <p class="exercise-content">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. </p>
            <span>Liczba ćwiczeń</span>
            <select class="exercises-count">
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>              
            </select>
            <button class="button select-exercise">wybierz</button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>