@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: white;
    letter-spacing: 1px;
    background: red; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#2fbcc1, #5ec598); /* Standard syntax */
    /*background: linear-gradient(241deg, #148283, #48b69e, #59cdce); /**/
    background-size: 600% 600%;
    -webkit-animation: bacground 10s ease infinite;
    -moz-animation: bacground 10s ease infinite;
    animation: bacground 10s ease infinite;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes bacground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bacground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bacground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

* {
    box-sizing: inherit;
}

#content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*GENERAL*/
select, button {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   cursor: pointer;
   padding: 15px 20px;
   background: 0;
   border: solid 3px white;
   border-radius: 30px;
   color: white;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 4px;
   font-weight: 900;
   transition: background-color 1s, color 0.5s;
}

select:hover,
button:hover {
    background-color: white;
    color: #373838;
}

/*HEADER*/
#logo {
    margin-top: 15px;
    float: left;
    margin-right: 20px;
}

#logo path {
    fill: #5f1111
}

#stage-title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
}
#stage-subtitle {
    margin-top: 10px;
    font-weight: 100;
    font-size: 1.3em;
    color: #ffffff;
}

header {
    position: relative;
    padding: 20px 0;
/*     border-bottom: dashed white 5px;  */
}

#instrument {
    position: absolute;
    top: 30px;;
    right: 0;
}

/* LIST */
#exercises-list {
    padding: 0;
}
.exercise {
    display: block;
    list-style: none;
    /*     border: solid white 1px; */
    /*     margin-top: 20px; */
    /*     background-color:#34bdbd; */
    /*     border-radius: 10px; */
    padding: 20px;
/*     border-radius: 30px; */
    /*     -webkit-filter: blur(20px); */
    /*     -moz-filter: blur(20px); */
    /*     -o-filter: blur(20px); */
    /*     -ms-filter: blur(20px); */
    /*     filter: blur(5px); */
    /*     opacity: 0.4; */
    /*transition: border 1s;*/
    border-bottom: dashed 5px;
    border-bottom: solid 1px;
    border: solid 5px;
    margin-bottom: 20px;
    position: relative;
}

.exercise .hardness {
    position: absolute;
    right: 20px;
    font-size: 25px;
}

.exercise .hardness-easy:before {
    content: "☆☆★";
}
.exercise .hardness-medium:before {
    content: "☆★★";
}
.exercise .hardness-hard:before {
    content: "★★★";
}
/*
.exercise:not(:last-child):after {
    content: "";
    margin: 50px 0 0 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}
 */
.exercise:hover {
/*     border-color: rgba(255, 255, 255, 0.48); */
}

.exercise-title {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: dashed 2px white;
    marign-bottom: 0;
}

.exercise-content {
    margin-top: 0;
}
